:root {
  --body-regular-font-family: "SFPro Text-Regular", Helvetica;
  --body-regular-font-size: 17px;
  --body-regular-font-style: normal;
  --body-regular-font-weight: 400;
  --body-regular-letter-spacing: -0.40799999237060547px;
  --body-regular-line-height: 22px;
  --caption2-regular-font-family: "SFPro Text-Regular", Helvetica;
  --caption2-regular-font-size: 11px;
  --caption2-regular-font-style: normal;
  --caption2-regular-font-weight: 400;
  --caption2-regular-letter-spacing: 0.06599999964237213px;
  --caption2-regular-line-height: 13px;
  --coloursbrandprimary: rgba(0, 128, 0, 1);
  --default-body-bold-font-family: "SFPro Text-Semibold", Helvetica;
  --default-body-bold-font-size: 17px;
  --default-body-bold-font-style: normal;
  --default-body-bold-font-weight: 400;
  --default-body-bold-letter-spacing: -0.40799999237060547px;
  --default-body-bold-line-height: 22px;
  --default-footnote-bold-font-family: "SFPro Text-Semibold", Helvetica;
  --default-footnote-bold-font-size: 13px;
  --default-footnote-bold-font-style: normal;
  --default-footnote-bold-font-weight: 400;
  --default-footnote-bold-letter-spacing: -0.07800000160932541px;
  --default-footnote-bold-line-height: 18px;
  --system-coloursdefault-colorssystembluedark: rgba(10, 132, 255, 1);
  --system-coloursdefault-colorssystembluelight: rgba(0, 122, 255, 1);
  --system-coloursdefault-colorssystemgreendark: rgba(50, 215, 75, 1);
  --system-coloursdefault-colorssystemgreenlight: rgba(52, 199, 89, 1);
  --system-coloursdefault-colorssystemgrey2dark: rgba(99, 99, 102, 1);
  --system-coloursdefault-colorssystemgrey2light: rgba(174, 174, 178, 1);
  --system-coloursdefault-colorssystemorangedark: rgba(255, 159, 10, 1);
  --system-coloursdefault-colorssystemorangelight: rgba(255, 149, 0, 1);
  --system-coloursdefault-colorssystemwhiteblackdark: rgba(0, 0, 0, 1);
  --system-coloursdefault-colorssystemwhiteblacklight: rgba(255, 255, 255, 1);
  --system-colourslabel-colourprimarydark: rgba(255, 255, 255, 1);
  --system-colourslabel-colourprimarylight: rgba(0, 0, 0, 1);
}
